*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} 

body{
    background-color: #432291;
    height: auto;
    width: 100%;
    color: white;
    font-family: Quicksand;
    
}

hr{
    color: white;
    font-weight: bold;
    border: 2px solid white;
}

#encabezado{
    position: relative;
    float: left;
    height: 4%;
    width: 100%;
}

/*Logo*/

#logo{
    width: 20%; /* Ajusta el tamaño del contenedor del logo */
    height: 10px; /* Ajusta el tamaño del contenedor del logo */
    padding-top: 15px;
    padding-left: 23px;
    position: relative;
    float: left;
}

#logo img{
    width: 100%;
    height: 50px;
}

#logo a:hover{
    background-color: none;
}

/*Menu*/

#menu{
    position: relative;
    float: left;
    width: 60%;
    height: 100%;
    margin-left: 20%;
    margin-top:10px;
}

#menu a{
    position: relative;
    display: inline-block;
    width: 20%;
    height: 60px;
    text-align: center;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    padding-top: 15px;

}

#menu a:hover{
    text-shadow: none;
    color: #fff;
    background-color: purple;
    border-radius: 20px;
}

/*Tienda*/

#cabecera{
    position: relative;
    float: left;
    height: 25%;
    width: 100%;
    
}

#cabecera img{
    position: relative;
    float: left;
    opacity: 0.6;
    width: 100%;
    height: 300px;
}
.texto{
    position: absolute;
    font-size: 80px;
    color: white;
    top: 30%;
    left: 22%;
    margin-left: 20%;
    opacity: 1;
    z-index: 1;
    text-shadow: 0px 0px 10px gray;
}

/* Sorteo */

#sorteo{
    position: relative;
    float: left;
    height: 25%;
    width: 100%;
    padding-top: 30px;
}

#sorteo p{
    padding: 20px 150px;
    text-align: center;
    font-size: 25px;
}



form{
    width: 80%;
    height:75%;
    box-shadow: 0px 0px 5px white;
    background-color: #513691;
    color: white;
    padding: 40px;
    border-radius: 40px;
    margin-left: 10%;
   
}

fieldset{
    border: 1px solid white;
}

legend{
    text-align: center;
}

label{
    display: inline-block;
    width: 30%;
    margin: 10px;
    font-weight: bold;
    text-align: right;

}

input[type=text]{
    width: 40%;
    height: 25px;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;

}

input[type=email]{
    width: 40%;
    height: 25px;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;

}

input[type=radio]{
    margin-left: 4%;
    text-align: center;
}

input[type=submit]{
    width: 30%;
    height: 25px;
    margin-top: 10px;
    margin-left: 35%;
    border-radius: 5px;
    text-align: center;
    font-family: Quicksand;
    font-weight: bolder;
}

input[type=submit]:hover{
    color: white;
    background-color: black;
}

.titulo {
    height: 25%;
    width: 100%;
    position: relative;
    float: left;
    text-align: center;
    text-transform: uppercase;
    padding-top: 15px;
    font-weight: bold;
    padding-bottom: 15px;
    text-shadow: 0px 0px 10px black;
    
}

/* Compra por categoría*/

.categoria{
    position: relative;
    float: left;
    height: 30%;
    width: 100%;
    padding-top: 30px;
}

.marco{
    position: relative;
    float: left;
    width: 20%;
    height: 340px;
    margin-left: 10%;
    margin-top: 40px;
    box-shadow: 0px 0px 5px black;
    background-color: #6040aa;
    text-align: center;
    border-radius: 10px;
}

.marco img{
    width: 100%;
    height: 85%;
    border-radius: 10px;
}



/* Conoce a los artistas más vendidos*/

.artista{
    position: relative;
    float: left;
    height: 30%;
    width: 100%;
    padding-top: 50px;
}

.artista hr{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 50px;
    border-radius: 20px;
    
}

/*footer*/

#footer{
    position: relative;
    float: left;
    padding: 15px;
    width: 100%;
    text-align: center;
}

#footer h2{
    margin-top:5%;
    text-align: center;    
}

#footer hr{
    margin-top: 3%;
    width: 100%;
}

/* Iconos Awesome */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 200px;
    margin-left: 25px;
    margin-top: 25px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  /*Instagram*/
  .fa-instagram {
    background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
    color: white;
  }

  .fa-spotify{
    color: white;
    background-color: green;
  }

/*Pensado para el Samsung Galaxy S8+*/

   @media all and (max-width: 750px){
    body{
        background-color: #432291;
        height: auto;
        width: 100%;
        color: white;
        font-family: Quicksand;
    }
    
   
    #encabezado{
        position: relative;
        float: left;
        height: 4%;
        width: 100%;
    }
    
    /*Logo*/
    
    #logo{
        width: 30%; /* Ajusta el tamaño del contenedor del logo */
        height: 10px; /* Ajusta el tamaño del contenedor del logo */
        padding-top: 10px;
        padding-left: 23px;
        position: relative;
        float: left;
    }
    
    #logo img{
        width: 100%;
        height: 50px;
    }
    
    #logo a:hover{
        background-color: none;
    }
    
    
    /*Menu*/
    
    #menu{
        width: 60%;
        margin-left: 40%;
    }
    
    #menu a{
        position: relative;
        display: inline-block;
        width: 20%;
        height: 40px;
        text-align: center;
        text-decoration: none;
        color: white;
        text-transform: capitalize;
        padding-top: 10px;
        font-size: 10px;
    
    }
    
    #menu a:hover{
        text-shadow: none;
        color: #fff;
        background-color: purple;
        border-radius: 20px;
    }
    
    /*Tienda*/

#cabecera{
    position: relative;
    float: left;
    height: 15%;
    width: 100%;
    
}

#cabecera img{
    position: relative;
    float: left;
    opacity: 0.6;
    width: 100%;
    height: 120px;
}
.texto{
    position: absolute;
    font-size: 60px;
    color: white;
    top: 25%;
    left: 10%;
    margin-left: 12%;
    opacity: 1;
    z-index: 1;
    text-shadow: 0px 0px 10px gray;
}

/* Sorteo */

#sorteo{
    position: relative;
    float: left;
    height: 15%;
    width: 100%;
    padding-top: 10px;
}

#sorteo p{
    padding: 20px 20px;
    text-align: center;
    font-size: 10px;
}

#sorteo form{
    width: 80%;
    height:75%;
    box-shadow: 0px 0px 5px white;
    background-color: #513691;
    color: white;
    padding: 40px;
    border-radius: 40px;
    margin-left: 10%;
   
}

fieldset{
    border: 1px solid white;
}

legend{
    text-align: center;
}

label{
    display: inline-block;
    width: 30%;
    margin: 10px;
    font-weight: bold;
    text-align: right;
    font-size: 12px;

}

input[type=text]{
    width: 40%;
    height: 20px;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;

}

input[type=email]{
    width: 40%;
    height: 20px;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;

}

input[type=radio]{
    
    margin-left: 100px;
    margin-right: 15px;
    text-align: center;
    margin-bottom: 10px;
    
}

input[type=submit]{
    width: 40%;
    height: 30px;
    margin-top: 10px;
    margin-left: 35%;
    border-radius: 5px;
    text-align: center;
    font-family: Quicksand;
    font-weight: bolder;
    
}

input[type=submit]:hover{
    color: white;
    background-color: black;
}

.titulo {
    height: 25%;
    width: 100%;
    position: relative;
    float: left;
    text-align: center;
    text-transform: uppercase;
    padding-top: 15px;
    font-weight: bold;
    padding-bottom: 15px;
    text-shadow: 0px 0px 10px black;
    font-size: 60%;
    
}

/* Compra por categoría*/

.categoria{
    position: relative;
    float: left;
    height: 15%;
    width: 100%;
    padding-top: 30px;
}

.marco{
    position: relative;
    float: left;
    width: 27%;
    height: 140px;
    margin-left: 5%;
    margin-top: 20px;
    box-shadow: 0px 0px 5px black;
    background-color: #6040aa;
    text-align: center;
    border-radius: 10px;
}

.marco img{
    width: 100%;
    height: 70%;
    border-radius: 10px;
}

/* Conoce a los artistas más vendidos*/

.artista{
    position: relative;
    float: left;
    height: 15%;
    width: 100%;
    padding-top: 30px;
}

.artista hr{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10px;
    border-radius: 20px;
    
}

/* footer */
    
#footer{
    position: relative;
    float: left;
    padding: 15px;
    width: 100%;
    text-align: center;
}
    
#footer h2{
    margin-top:5%;
    text-align: center;    
}
    
#footer hr{
    margin-top: 3%;
    width: 100%;
}
    
    /* Iconos Awesome */
.fa {
     padding: 20px;
    font-size: 30px;
    width: 100px;
    margin-left: 15px;
    margin-top: 25px;
    text-align: center;
    text-decoration: none;
    }
}